Repository jamessawyer/nextjs-template: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write .

.lintstagedrc:

{
  "*.{js,jsx,json}": [
    "eslint --fix",
    "git add"
  ],
  "*.{js,jsx,json,css,scss,md}": [
    "prettier --write .",
    "git add"
  ]
}

chore: 添加个人学者照片
  public/images/scholar/scholar-eyad.png
  public/images/scholar/scholar-guo.png
  public/images/scholar/scholar-lee.png
  public/images/scholar/scholar-liu.png
  public/images/scholar/scholar-tang.png
  public/images/scholar/scholar-thomas.png
  public/images/scholar/scholar-xu.png
  public/images/scholar/scholar-yan.png
  public/images/scholar/scholar-yuan.png
  public/images/scholar/scholar-zhu.png
  public/images/scholar/scholar-zhuo.png
  public/images/scholar/sholar-chen.png
Due: none

style: 调整 News bg & shadow
  components/News.jsx
Due: eslint --fix, prettier --write .

chore: 修改图片名称
  public/images/scholar/scholar-chen.png
Due: none

update: Navigation a标签添加href用于hash导航
  components/ImageCarousel.jsx
  components/Navigation.jsx
Due: eslint --fix, prettier --write .

feat: 添加ScholarCarousel组件
  components/ScholarCarousel.jsx
  messages/index/en.json
  messages/index/jp.json
  messages/index/zh.json
  pages/index.js
  tailwind.config.js
Due: eslint --fix, prettier --write .

feat: 使用scroll-margin-top的方式设置anchor scroll位置
  components/ImageCarousel.jsx
  components/Navigation.jsx
  styles/globals.css
Due: eslint --fix, prettier --write .

refactor: 将Navigation改回 sticky布局
  components/Navigation.jsx
  styles/globals.css
Due: eslint --fix, prettier --write .

perf: ScholarCarousel & Tag 使用 React.memo进行包裹
  components/ScholarCarousel.jsx
  components/TagList.jsx
Due: eslint --fix, prettier --write .

chore: 添加 react-scroll 依赖
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write .

feat: Navigation添加 ScrollLink 添加滚动高亮 anchor 功能
  components/Navigation.jsx
Due: eslint --fix, prettier --write .

chore: 添加 react-modal & zustand 依赖
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write .

chore: 添加Modal所需的图片资源
  public/images/close.png
  public/images/modal-logo/logo-cn.png
  public/images/modal-logo/logo-en.png
Due: none

feat: 通过zustand添加全局状态管理 useStore
  utils/useStore.js
Due: eslint --fix, prettier --write .

feat: 添加Modal功能
  components/ApplyIntro.jsx
  components/ApplyModal.jsx
  components/Navigation.jsx
  components/PageLayout.jsx
  constants/index.js
  messages/shared/en.json
  messages/shared/jp.json
  messages/shared/zh.json
  styles/globals.css
  tailwind.config.js
Due: eslint --fix, prettier --write .

feat: ScholarCarousel添加动画效果
  components/ApplyModal.jsx
  components/ScholarCarousel.jsx
Due: eslint --fix, prettier --write .

update: 更新多语言顺序
  next.config.js
Due: eslint --fix, prettier --write .

feat: Footer底部按钮增加多语言和弹窗功能
  components/Footer.jsx
  messages/shared/en.json
  messages/shared/jp.json
  messages/shared/zh.json
Due: eslint --fix, prettier --write .

style: 修改 Navigation 顶部的装饰蓝条的高度
  components/Navigation.jsx
Due: eslint --fix, prettier --write .

style: ScholarCarousel 适配2xl
  components/ScholarCarousel.jsx
Due: eslint --fix, prettier --write .

perf: 给组件加上 React.memo,进行性能优化
  components/ApplyIntro.jsx
  components/ApplyModal.jsx
  components/Domain.jsx
  components/ImageCarousel.jsx
  components/Navigation.jsx
  components/News.jsx
  components/TagList.jsx
Due: eslint --fix, prettier --write .

style: Footer适配2xl
  components/Footer.jsx
Due: eslint --fix, prettier --write .

docs: 添加项目文档
  docs/国际化.md
  docs/遇到的问题.md
Due: prettier --write .

chore: 添加eslint:dry-run 命令 用于检查错误
  package.json
Due: eslint --fix, prettier --write .

feat: 添加 404 & 500 页面
  messages/shared/en.json
  messages/shared/jp.json
  messages/shared/zh.json
  pages/404.js
  pages/500.js
Due: eslint --fix, prettier --write .

fix: 将autoprefiexer & thaiwindcss相关依赖,从开发依赖改为依赖
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write .

docs: docker构建注意事项
  docs/docker.md
Due: prettier --write .

feat: 添加 Dockerfile & .dockerignore
  .dockerignore
  Dockerfile
Due: none

refactor: 暂时屏蔽其它语种,添加 experimental属性,以便支持docker打包
  next.config.js
Due: eslint --fix, prettier --write .

docs: 更新README
  README.md
Due: prettier --write .

chore: 移除未使用的文件
  public/vercel.svg
  styles/reset.css
Due: prettier --write .

fix: husky添加husky.sh
  .husky/_/husky.sh
Due: none

refactor: 重构eslint配置 删除部分eslint conig & plugin
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write .

chore: 设置jsconfig.json auto absolute import
  jsconfig.json
Due: eslint --fix, prettier --write .

update: 更新husky配置
  .husky/_/husky.sh
  .husky/pre-commit
  .lintstagedrc
  package.json
Due: eslint --fix, prettier --write .

refactor: 更新eslintrc配置,将json格式改为js格式
  .eslintignore
  .eslintrc.js
  .eslintrc.json
  .prettierrc
  .prettierrc.js
Due: eslint --fix, prettier --write .

chore: components改为绝对引入方式
  components/ApplyIntro.jsx
  components/ApplyModal.jsx
  components/Footer.jsx
  components/Navigation.jsx
  pages/_app.js
  pages/index.js
Due: eslint --fix, prettier --write .

chore: 添加prettier-plugin-tailwindcss 用于tailwindcss类名排序
  .prettierignore
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write .

update: 更新组件中thaiwindcss类名的顺序
  components/ApplyIntro.jsx
  components/ApplyModal.jsx
  components/Domain.jsx
  components/Footer.jsx
  components/ImageCarousel.jsx
  components/Navigation.jsx
  components/News.jsx
  components/ScholarCarousel.jsx
  components/TagList.jsx
  pages/404.js
  pages/500.js
  styles/globals.css
Due: eslint --fix, prettier --write .

feat: 添加webpack bundler analyzer
  next.config.js
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write .

fix: docker构建优化,添加docker-compose文件,并更新文档
  .dockerignore
  Dockerfile
  README.md
  docker-compose.yml
  docs/docker.md
  next.config.js
Due: eslint --fix, prettier --write .
